a {
    text-decoration: none;
    font-family: comic sans ms;
}
body {
    background-image: url('можетбытьполезно.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#str{
    position:absolute;
    font-size:35pt;
    top:40px;
    left:150px;
    font-family: comic sans ms;
}

#gip1{
    position:absolute;
    font-size:22pt;
    top:70px;
    left:570px;
}
#gip2{
    position:absolute;
    font-size:22pt;
    top:150px;
    left:535px;
}
#gip3{
    position:absolute;
    font-size:22pt;
    top:215px;
    left:580px;
}
#gip4{
    position:absolute;
    font-size:22pt;
    top:280px;
    left:560px;
}
#gip5{
    position:absolute;
    font-size:22pt;
    top:345px;
    left:450px;
}
#gip6{
    position:absolute;
    font-size:22pt;
    top:410px;
    left:530px;
}
#gip7{
    position:absolute;
    font-size:22pt;
    top:475px;
    left:490px;
}
#gip8{
    position:absolute;
    font-size:22pt;
    top:540px;
    left:550px;
}
#gip9{
    position:absolute;
    font-size:22pt;
    top:605px;
    left:450px;
}
#gip10{
    position:absolute;
    font-size:22pt;
    top:670px;
    left:620px;
}













































































