a {
    text-decoration: none;
    font-family: comic sans ms;
}
body {
    background-image: url('теориядлязаданий.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#str{
    position:absolute;
    font-size:35pt;
    top:7%;
    left:10%;
    font-family: comic sans ms;
}
#gip1{
    position:absolute;
    font-size:17pt;
    top:20%;
    left:10%;
}
#gip2{
    position:absolute;
    font-size:17pt;
    top:31%;
    left:10%;
    
}
#gip3{
    position:absolute;
    font-size:17pt;
    top:42%;
    left:10%;
}
#gip4{
    position:absolute;
    font-size:17pt;
    top:53%;
    left:10%;
}
#gip5{
    position:absolute;
    font-size:17pt;
    top:64%;
    left:10%;
}
#gip6{
    position:absolute;
    font-size:17pt;
    top:75%;
    left:10%;
}
#gip7{
    position:absolute;
    font-size:17pt;
    top:86%;
    left:10%;
}
#gip8{
    position:absolute;
    font-size:17pt;
    left:26%;
    top:20%;
}
#gip9{
    position:absolute;
    font-size:17pt;
    left:26%;
    top:31%;
}
#gip10{
    position:absolute;
    font-size:17pt;
    left:26%;
    top:42%;
}
#gip11{
    position:absolute;
    font-size:17pt;
    left:26%;
    top:53%;
}
#gip12{
    position:absolute;
    font-size:17pt;
    left:26%;
    top:64%;
}
#gip13{
    position:absolute;
    font-size:17pt;
    left:26%;
    top:75%;
}
#gip14{
    position:absolute;
    font-size:17pt;
    left:26%;
    top:86%;
}
#gip15{
    position:absolute;
    font-size:17pt;
    left:43%;
    top:20%;
}
#gip16{
    position:absolute;
    font-size:17pt;
    left:43%;
    top:31%;
}
#gip17{
    position:absolute;
    font-size:17pt;
    left:43%;
    top:42%;
}
#gip18{
    position:absolute;
    font-size:17pt;
    left:43%;
    top:53%;
}
#gip19{
    position:absolute;
    font-size:17pt;
    left:43%;
    top:64%;
}
#gip20{
    position:absolute;
    font-size:17pt;
    left:43%;
    top:75%;
}
#gip21{
    position:absolute;
    font-size:17pt;
    left:43%;
    top:86%;
}
#gip22{
    position:absolute;
    font-size:17pt;
    left:61%;
    top:20%;
}
#gip23{
    position:absolute;
    font-size:17pt;
    left:61%;
    top:31%;
}
#gip24{
    position:absolute;
    font-size:17pt;
    left:61%;
    top:42%;
}
#gip25{
    position:absolute;
    font-size:17pt;
    left:61%;
    top:53%;
}
#gip26{
    position:absolute;
    font-size:17pt;
    left:61%;
    top:64%;
}
#gip27{
    position:absolute;
    font-size:17pt;
    left:61%;
    top:75%;
}
#gip28{
    position:absolute;
    font-size:17pt;
    left:61%;
    top:86%;
}
#gip29{
    position:absolute;
    font-size:17pt;
    left:80%;
    top:20%;
}
#gip30{
    position:absolute;
    font-size:17pt;
    left:80%;
    top:31%;
}
#gip31{
    position:absolute;
    font-size:17pt;
    left:80%;
    top:42%;
}
#gip32{
    position:absolute;
    font-size:17pt;
    left:80%;
    top:53%;
}
#gip33{
    position:absolute;
    font-size:17pt;
    left:80%;
    top:64%;
}
#gip34{
    position:absolute;
    font-size:17pt;
    left:80%;
    top:75%;
}
#gip35{
    position:absolute;
    font-size:17pt;
    left:80%;
    top:86%;
}